<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Skyjo Online</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="content">
        <div class="welcome_text">
            <h1 class="title is-1">Skyjo en ligne</h1>
            <h3 class="subtitle is-3">Jouons a Skyjo</h3>
        </div>
        <div class="alert d-none" role="alert" id="turn-message"></div>
        <div class="div" id="user-card">
            <form class="box bg-dark" id="form" method="POST" onsubmit="event.preventDefault();playerData();">
                <div class="field">
                    <label class="label text-white">Pseudo en jeu</label>
                    <div class="control">
                        <input class="input" type="text" name="username" id="username" placeholder="Saisir votre pseudo"
                            required />
                    </div>
                </div>

                <button class="button is-primary" id="start" type="submit">Crée une partie</button>
            </form>
        </div>
        <div>

            <div class="card mb-3 d-none bg-dark mt-2" id="rooms-card">
                <div class="card-header text-white">Salons disponibles</div>
                <ul class="list-group list-group-flush m-3 mb-0" id="rooms-list"></ul>
            </div>

            <div class="d-none" id="waiting-area">
                <div class="card mb-3 bg-dark">
                    <div class="card-header text-white">En attende d'autres joueurs</div>
                    <div class="card-body mx-auto">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>

                <div class="card bg-dark">
                    <div class="card-body text-center text-white">
                        Partage ce lien pour inviter quelqu'un à jouer avec toi
                        <span id="link-to-share"></span>
                    </div>
                </div>
            </div>
            <div class="text-center d-none mt-2" id="restart-area">
                <input class="btn btn-primary" id="restart" type="button" value="Rejouer">
            </div>

            <div class="card d-none bg-dark" id="game-card">
                <div class="card-header text-white">
                    Skyjo
                </div>
                <div class="pioches mt-3 gap-3 d-flex justify-content-center">
                    <div class="pioche">
                        <img src="/images/verso.png" alt="" id="pioche" class="rounded">
                    </div>
                    <div class="defausse">
                        <img src="/images/0.png" alt="defausse" id="defausse" class="rounded">
                    </div>
                </div>
                <div class="card-body mx-auto container-players-cards">
                    
                </div>
            </div>

        </div>

        <footer class="footer bg-dark box mt-2">
            <div class="content has-text-centered">
                <p class="text-white">
                    <strong class="text-white">skyjo</strong> by <a href="https://github.com/cda34-24-01/skyjo">Jeremy lmekki facundo</a>.
                    The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
                    website content is licensed
                    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>

    </div>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>